<div class="container">
  <div class="col-md-8">
  <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success' %>
  </div>

  <% @wikis.each do |wiki| %>
      <div class="col-md-8">
        <div class="form-group">
          <h3> <%= link_to markdown(wiki.title), wiki_path(wiki)  %> </h3>
          <h5> created by: <%= wiki.user.email %> </h5>
        </div>
        <div class="form-group">
          <%= markdown(wiki.body) %>
        </div>
        <%= link_to "Edit Wiki", edit_wiki_path(wiki) %>
      </div>
  <% end %>
</div>
